<footer class="main-footer">
    @User.Identity.Name
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 1.0
    </div>
    <strong>Copyright &copy; 2024 <a href="~/">Lê Văn Việt</a>.</strong> All rights
    reserved.
</footer>