@{
}

<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content" style="padding-top: 34px;">
            <h3><i class="fa fa-warning text-yellow"></i> Không tìm thấy trang.</h3>

            <p>
                Bạn không có quyền để xem trang này.
            </p>

            <div class="col-xs-4" style="margin-top: 12px">
                <a href="~/" class="btn btn-default">
                    Về trang chủ
                </a>
            </div>

        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
